<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hr200037.emre_aynaci_final">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- internete çıkabilmesi için -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- wifi durumunu alabilmek için -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- internet durumunu alabilmek için -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HR200037_EmreAynaciFinal">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.DetailActivity" />
    </application>

</manifest>